[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.0.0
X-AppImage-Name=FileIntegrityChecker
Name=FileIntegrityChecker
Exec=usr/bin/fileintegrity-checker
Icon=fileintegrity
Type=Application
Terminal=false
Categories=Utility;
Comment=
